  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to image_tag("mojalogo1.png", alt: 'mojatatu', width: 297, height:67), '#', id: "logo" %>
        <nav>

        <p class="italic" align="right"> <font face="verdana" color="lightblue">Mojatatu Networks – Opening The Network Box!</font></p>
        <div class="tabbable tabs-below">
          <ul class="nav pull-pills">
            <li><%= link_to "Home",    'home' %></li>
            <li><%= link_to "About Us",    'about' %></li>
            <li><%= link_to "Product & Services", 'prodserv' %></li>
            <li><%= link_to "Contacts", 'contact' %></li>
            <li><%= link_to "Blogs", 'blogs' %></li>
            <li><%= link_to "Press Release", 'press' %></li>
          </ul>
        </div>
        </nav>
      </div>
    </div>
  </header>
